<ion-content class="swiper-no-swiping" >
  <div class="containe top"[hidden]="this.Keyboard.isVisible">
  

    <ion-segment (ionChange)="segmentChanged($event)"  value="login">
      <ion-segment-button  value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>

  </div>
  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userLogin.email" type="text" placeholder="Email" ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userLogin.senha" type="password" placeholder="Senha" ></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
          Entrar
        </ion-button>  
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userRegister.nome" type="text" placeholder="Nome"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userRegister.email" type="text" placeholder="E-mail" ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userRegister.cep" type="text" placeholder="CEP" (keyup) = "ValidaCep($event)"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userRegister.cidade" type="text" placeholder="Cidade" ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userRegister.endereco" type="text" placeholder="Endereço" ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userRegister.bairro" type="text" placeholder="Bairro" ></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input [(ngModel)]= "userRegister.senha"type="password" placeholder="Senha" ></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block">
          Cadastrar
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="ocean">
    <div class="waves"[ngStyle]="{'background-position-x': wavesPosition + 'px'}" ></div>

    <div class="container bottom ion-text-center"[hidden]="this.Keyboard.isVisible"></div>
  </div>
</ion-content>